/**
 * Basic Element Reseting For Getting Started
 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  font: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

/**
 * Import Poppins font family from Groogle Fonts
 */
/**
 * Custom Theme Styling
 */
:root {
  /* Colors */
  --color-green: #D3E589;
  --color-purple: #BF56FF;
  --color-light-purple: #DADBF0;
  --color-dark-gray: #212121;
  --color-white: #FFFFFF;
  /* Font Sizes */
  --font-size-small: 12px;
  --font-size-normal: 16px;
  --font-size-medium: 20px;
  --font-size-h1: 42px;
  --font-size-h3: 30px;
  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  /* Button */
  --button-font-size: 18px;
  --button-font-weight: var(--font-weight-semibold);
  --button-padding: 10px 30px;
  --button-border-width: 2px;
  --button-border-radius: 5px;
  /* Spacing */
  --default-inline-margin: 30px;
  --section-vertical-padding: 100px;
  --footer-vertical-padding: 60px;
  /* Default Border Radius */
  --default-border-radius: 5px;
  /* Header */
  --header-bar-height: 110px;
  --header-logo-height: 27px;
  /* Footer */
  --footer-logo-height: 34px;
  /* Transitions */
  --default-transition: 150ms linear;
}
@media (max-width: 767px) {
  :root {
    /* Font Sizes */
    --font-size-small: 12px;
    --font-size-normal: 16px;
    --font-size-medium: 18px;
    --font-size-h1: 28px;
    --font-size-h3: 22px;
    /* Button */
    --button-font-size: 16px;
    --button-padding: 10px 20px;
    /* Spacing */
    --default-inline-margin: 20px;
    --section-vertical-padding: 50px;
    --footer-vertical-padding: 40px;
    /* Header */
    --header-bar-height: 90px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-normal);
  letter-spacing: 0.5px;
  color: var(--color-dark-gray);
  background-color: var(--color-white);
  min-height: 100vh;
}

/* Bootstrap container override */
@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1140px;
  }
}
@media (max-width: 575px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: calc(var(--default-inline-margin) * 2);
  }
}
/* Header */
.header {
  width: 100%;
}
body.page-template-default .header {
  position: absolute;
  top: 0;
  left: 0;
}
body.page-template-default.admin-bar .header {
  top: 32px;
}
@media (max-width: 768px) {
  body.page-template-default.admin-bar .header {
    top: 46px;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: var(--header-bar-height);
}
.header__logo-wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.header__logo-wrapper img {
  height: var(--header-logo-height);
  width: auto;
}
.header__navigation {
  margin-left: calc(var(--default-inline-margin) * 2.75);
}
@media (max-width: 991px) {
  .header__navigation {
    margin-left: calc(var(--default-inline-margin) * 1.5);
  }
}
@media (max-width: 767px) {
  .header__navigation {
    margin-left: var(--default-inline-margin);
  }
}
.header__navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
  padding: 0;
}
.header__navigation ul li {
  display: inline-block;
  text-align: right;
}
.header__navigation ul li:not(:first-child) {
  margin-left: calc(var(--default-inline-margin) * 2.75);
}
@media (max-width: 991px) {
  .header__navigation ul li:not(:first-child) {
    margin-left: calc(var(--default-inline-margin) * 1.5);
  }
}
@media (max-width: 767px) {
  .header__navigation ul li:not(:first-child) {
    margin-left: var(--default-inline-margin);
  }
}
.header__navigation ul li a {
  color: var(--color-dark-gray);
  text-decoration: none;
  -webkit-transition: color var(--default-transition);
  -o-transition: color var(--default-transition);
  transition: color var(--default-transition);
}
.header__navigation ul li a:hover {
  color: var(--color-purple);
}
@media (max-width: 767px) {
  .header__navigation {
    display: none;
  }
}
.header .button {
  margin-left: calc(var(--default-inline-margin) * 2.75);
}
@media (max-width: 991px) {
  .header .button {
    margin-left: calc(var(--default-inline-margin) * 1.5);
  }
}
@media (max-width: 767px) {
  .header .button {
    margin-left: var(--default-inline-margin);
  }
}

/* Footer */
.footer {
  background-color: var(--color-dark-gray);
  color: var(--color-white);
}
.footer__container {
  padding: var(--footer-vertical-padding) 0;
}
.footer__logo-wrapper {
  display: grid;
  place-items: center;
}
.footer__logo-wrapper:not(:last-child) {
  margin-bottom: var(--footer-vertical-padding);
}
.footer__logo-wrapper img {
  height: var(--footer-logo-height);
  width: auto;
}
.footer__policies-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 26px;
}
@media (max-width: 767px) {
  .footer__policies-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer__policies-wrapper:not(:first-child) {
  padding-top: var(--default-inline-margin);
  border-top: 0.5px solid var(--color-light-purple);
}
.footer__copyright {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  color: var(--color-white);
}
.footer__navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
  padding: 0;
}
.footer__navigation ul li {
  display: inline-block;
  margin-left: calc(var(--default-inline-margin) * 2);
}
@media (max-width: 767px) {
  .footer__navigation ul li {
    margin: var(--default-inline-margin);
  }
}
.footer__navigation ul li a {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  text-decoration: none;
  color: var(--color-white);
  -webkit-transition: color var(--default-transition);
  -o-transition: color var(--default-transition);
  transition: color var(--default-transition);
}
.footer__navigation ul li a:hover {
  color: var(--color-purple);
}

/**
 * Common Inline Elements
 */
p {
  line-height: 1.5;
  margin-bottom: var(----default-inline-margin);
}
p:last-child {
  margin-bottom: 0;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  line-height: 1.26;
  font-weight: var(--font-weight-medium);
  margin-bottom: var(--default-inline-margin);
}
h1:last-child, .h1:last-child,
h2:last-child, .h2:last-child,
h3:last-child, .h3:last-child,
h4:last-child, .h4:last-child,
h5:last-child, .h5:last-child,
h6:last-child, .h6:last-child {
  margin-bottom: 0;
}

h1, .h1 {
  font-size: var(--font-size-h1);
}

h3, .h3 {
  font-size: var(--font-size-h3);
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: var(--button-padding);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  line-height: 1;
  text-decoration: none;
  border-style: solid;
  border-width: var(--button-border-width);
  border-radius: var(--button-border-radius);
  -webkit-transition: color var(--default-transition), background-color var(--default-transition), border-color var(--default-transition);
  -o-transition: color var(--default-transition), background-color var(--default-transition), border-color var(--default-transition);
  transition: color var(--default-transition), background-color var(--default-transition), border-color var(--default-transition);
  color: var(--color-white);
  border-color: var(--color-purple);
  background-color: var(--color-purple);
}
.button:hover {
  color: var(--color-white);
  border-color: var(--color-light-purple);
  background-color: var(--color-light-purple);
}
.button.outlined {
  color: var(--color-purple);
  border-color: var(--color-purple);
  background-color: transparent;
}
.button.outlined:hover {
  color: var(--color-white);
  border-color: var(--color-purple);
  background-color: var(--color-purple);
}

/* Font sizes */
.font-size-small {
  font-size: var(--font-size-small);
}
.font-size-normal {
  font-size: var(--font-size-normal);
}
.font-size-medium {
  font-size: var(--font-size-medium);
}

/* Colors */
.color-transparent {
  color: transparent !important;
}
.color-dark-gray {
  color: var(--color-dark-gray) !important;
}
.color-white {
  color: var(--color-white) !important;
}
.color-purple {
  color: var(--color-purple) !important;
}
.color-light-purple {
  color: var(--color-light-purple) !important;
}
.color-green {
  color: var(--color-green) !important;
}

.hover-color-transparent:hover {
  color: transparent !important;
}
.hover-color-dark-gray:hover {
  color: var(--color-dark-gray) !important;
}
.hover-color-white:hover {
  color: var(--color-white) !important;
}
.hover-color-purple:hover {
  color: var(--color-purple) !important;
}
.hover-color-light-purple:hover {
  color: var(--color-light-purple) !important;
}
.hover-color-green:hover {
  color: var(--color-green) !important;
}

.bg-color-transparent {
  background-color: transparent !important;
}
.bg-color-dark-gray {
  background-color: var(--color-dark-gray) !important;
}
.bg-color-white {
  background-color: var(--color-white) !important;
}
.bg-color-purple {
  background-color: var(--color-purple) !important;
}
.bg-color-light-purple {
  background-color: var(--color-light-purple) !important;
}
.bg-color-green {
  background-color: var(--color-green) !important;
}

.hover-bg-color-transparent:hover {
  background-color: transparent !important;
}
.hover-bg-color-dark-gray:hover {
  background-color: var(--color-dark-gray) !important;
}
.hover-bg-color-white:hover {
  background-color: var(--color-white) !important;
}
.hover-bg-color-purple:hover {
  background-color: var(--color-purple) !important;
}
.hover-bg-color-light-purple:hover {
  background-color: var(--color-light-purple) !important;
}
.hover-bg-color-green:hover {
  background-color: var(--color-green) !important;
}

.border-color-transparent {
  border-color: transparent !important;
}
.border-color-dark-gray {
  border-color: var(--color-dark-gray) !important;
}
.border-color-white {
  border-color: var(--color-white) !important;
}
.border-color-purple {
  border-color: var(--color-purple) !important;
}
.border-color-light-purple {
  border-color: var(--color-light-purple) !important;
}
.border-color-green {
  border-color: var(--color-green) !important;
}

.hover-border-color-transparent:hover {
  border-color: transparent !important;
}
.hover-border-color-dark-gray:hover {
  border-color: var(--color-dark-gray) !important;
}
.hover-border-color-white:hover {
  border-color: var(--color-white) !important;
}
.hover-border-color-purple:hover {
  border-color: var(--color-purple) !important;
}
.hover-border-color-light-purple:hover {
  border-color: var(--color-light-purple) !important;
}
.hover-border-color-green:hover {
  border-color: var(--color-green) !important;
}

/* Margins */
.mb-45 {
  margin-bottom: 45px;
}

/**
 * Home Templare
 */
main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
main section {
  padding: var(--section-vertical-padding) 0;
}
main.template-home > :first-child {
  padding-top: var(--header-bar-height);
}
@media (max-width: 991px) {
  main.template-home > :first-child {
    padding-top: calc(var(--header-bar-height) + var(--section-vertical-padding));
  }
}

.home__hero {
  padding-bottom: 0 !important;
  background-color: var(--color-green);
}
.home__hero__row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home__content:not(:first-child) {
  padding-top: 0 !important;
}
.home__content:last-child {
  padding-bottom: calc(var(--section-vertical-padding) * 1.5);
}
.home__content__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .home__content__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.home__content__text-wrapper {
  position: relative;
  z-index: 2;
  width: 75%;
  margin-right: -25%;
  border: 2px solid var(--color-purple);
  background-color: var(--color-white);
  padding: calc(var(--default-inline-margin) * 2) clamp(30px, 6rem, 95px);
  border-radius: var(--default-border-radius);
}
.home__content__text-wrapper p {
  font-size: var(--font-size-medium);
}
@media (max-width: 1199px) {
  .home__content__text-wrapper {
    margin-right: -33%;
    margin-bottom: 17%;
  }
}
@media (max-width: 991px) {
  .home__content__text-wrapper {
    width: 100%;
    margin: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
  }
}
@media (max-width: 767px) {
  .home__content__text-wrapper {
    padding: calc(var(--default-inline-margin) * 1.5) var(--default-inline-margin);
  }
}
.home__content:not(:has(.home__content__image-wrapper)) .home__content__text-wrapper {
  margin: 0 !important;
  width: 100% !important;
  border: 2px solid var(--color-purple) !important;
  border-radius: var(--default-border-radius) !important;
}
.home__content__image-wrapper {
  width: 53%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.home__content__image-wrapper > img {
  width: 100%;
  aspect-ratio: 3/2;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--default-border-radius);
}
@media (max-width: 1199px) {
  .home__content__image-wrapper {
    width: 66%;
    margin-top: 10%;
  }
}
@media (max-width: 991px) {
  .home__content__image-wrapper {
    width: 100%;
    margin: 0;
  }
  .home__content__image-wrapper > img {
    border-left: 2px solid var(--color-purple);
    border-bottom: 2px solid var(--color-purple);
    border-right: 2px solid var(--color-purple);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
.home__content:not(:has(.home__content__text-wrapper)) .home__content__image-wrapper {
  width: 100% !important;
  margin: 0 !important;
}
.home__content:not(:has(.home__content__text-wrapper)) .home__content__image-wrapper > img {
  border: 0 !important;
  border-radius: var(--default-border-radius) !important;
}