/**
 * Basic Element Reseting For Getting Started
 */

*, *::before, *::after {
	margin: 0;
	padding: 0;
	font: inherit;
	box-sizing: border-box;
}

img, picture, svg, video {
	display: block;
	max-width: 100%;
}

/**
 * Custom Theme Styling
 */

:root {
	--color-green: #D3E589;
	--color-purple: #BF56FF;
	--color-dark-gray: #212121;
	--color-white: #FFFFFF;
}

body {
	color: var(--color-dark-gray);
	background-color: var(--color-white);
	min-height: 100vh;
}

/**
 * Home Templare
 */
.home {
	&__hero {
		background-color: var(--color-green);
	}
}